.test {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  grid-row: 2 / 4;

  font-weight: 100;
  text-transform: capitalize;
  letter-spacing: 2px;
}

.test-title {
  font-size: 3rem;
  width: 100%;
  background-color: var(--nyanza);
  height: 8rem;
  margin-bottom: 4rem;
  font-weight: 300;
}

.test-menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.test-everything,
.test-topics,
.test-subTopics {
  width: 20%;
  height: 30rem;
  border-radius: 3px;
  padding: 1rem;
  font-size: 4rem;
  box-shadow: var(--shadow);
  text-align: center;

  background-color: var(--nyanza);
  cursor: pointer;
}

/* --------------LAPTOP LAYOUT--------------------------*/

@media only screen and (max-width: 1300px) {
  .test-menu {
    flex-direction: column;
  }
  .test-everything,
  .test-topics,
  .test-subTopics {
    width: 70%;
    height: 15rem;
    align-content: space-between;
    margin: 2.5rem;
  }
}
/* --------------TABLET LAYOUT --------------------------*/

@media only screen and (max-width: 850px) {
  .test-title {
    font-size: 2rem;
  }
  .test-menu {
    flex-direction: column;
  }
  .test-everything,
  .test-topics,
  .test-subTopics {
    width: 100%;
    align-content: space-between;
    margin: 2.5rem;
  }
}
