.newCard {
  width: 100%;
  grid-row: 2 / 4;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cards-text {
  width: 100%;
  display: flex;
  align-items: space-between;
  justify-content: space-around;
}
.cards-text textarea {
  padding: 3px;
  border-radius: 3px;
  border: none;
  outline: 1px solid var(--tea-green);
}

.cards-text textarea:focus {
  outline: 2px solid var(--tea-green);
}

.newCard .btn {
  height: 2.5rem;
  margin-top: 3rem;
  padding: 0.1rem 6rem;
}

/* --------------PHONE LAYOUT --------------------------*/

@media only screen and (max-width: 1000px) {
  .cards-text {
    padding: 2rem;
    padding-top: 0;
    margin: 0;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
  }

  .newCard .btn {
    margin-top: -2.5rem;
    margin-bottom: 2.5rem;
  }
}
