.cards {
}

.cards-title {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.cards-title p {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.cards .btn {
  padding: 4px 6px;
  outline: 1px solid transparent;
}
.cards .btn:hover {
  outline: 1px solid white;
}
