.topics {
}

.topics-title {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.topics .btn {
  padding: 0 1rem;
  border: 1px solid transparent;
  transition: all 0.4s;
}
.topics .btn:hover {
  border: 1px solid #fff;
}

/* --------------MOBILE LAYOUT --------------------------*/

@media only screen and (max-width: 600px) {
  .topics-title {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .topics-title p {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    align-self: center;
    justify-self: center;
  }

  .topics .btn {
    width: 13rem;
    font-size: 1.1rem;
    align-self: center;
    justify-self: center;
  }
}
