.drawer {
  background-color: var(--russian-green);
  padding: 1.2rem;
  text-align: center;
  letter-spacing: 0.5rem;
  color: var(--text-color-lighter);
  grid-row: 1 / end;
  grid-column: 1 / 2;
}

.welcome {
  padding-bottom: 0.3rem;
  border-bottom: 3px solid var(--nyanza);
}

.menu {
  width: 100%;
  margin-top: 2rem;
}
