.sub-topic {
}
.sub-topic-title {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.sub-topic-title .btn {
  padding: 0 1rem;
  border: 1px solid transparent;
  transition: all 0.4s;
}
.sub-topic-title .btn:hover {
  border: 1px solid #fff;
}

.sub-topic .sub-topic-title .btn:hover {
  background-color: var(--laurel-green);
}
*/ .sub-topic .sub-topic-title .add-subtopic {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub-topic .input {
  height: 2rem;
}
