.nav {
  background-color: var(--russian-green);
  height: 100%;
  width: 100%;

  grid-column: 2 / end;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-btn {
  width: 10rem;
  text-align: center;
  font-weight: 400;
  font-size: 1.4rem;
  border-radius: 2px;
  text-transform: uppercase;
}

.nav-form {
  /* background-color: blue; */
  display: flex;
  /* width: 16%; */
  align-items: center;
  height: 2.1rem;
}

.nav-input {
  width: 16rem;
  border: none;
  outline: none;
  border-radius: 2px;
  padding: 1px 3px;
  height: 2rem;
  font-size: 1.2rem;
  margin-right: 1rem;
}

.nav-add-btn {
  color: var(--btn);
  cursor: pointer;
}
.nav-add-btn:hover {
  color: var(--tea-green);
}
