.nav {
  background-color: var(--russian-green);
  height: 100%;
  width: 100%;
  grid-column: 2 / end;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 1;
}

.nav-form {
  margin-left: 15%;
  display: flex;
  align-items: center;
  height: 2.1rem;
}

.nav-btn {
  margin-left: auto;
  margin-right: 15%;
  width: 10rem;
  text-align: center;
  font-weight: 400;
  font-size: 1.4rem;
  border-radius: 2px;
  text-transform: uppercase;
}

.nav-input {
  width: 14rem;
  border: none;
  outline: none;
  border-radius: 2px;
  padding: 1px 3px;
  height: 2rem;
  font-size: 1.2rem;
  margin-right: 1rem;
}

.nav-add-btn {
  color: var(--btn);
  cursor: pointer;
}
.nav-add-btn:hover {
  color: var(--tea-green);
}

.card-nav-btn {
  border-radius: 0.25rem;
  font-weight: 400;
  text-transform: capitalize;
  padding-left: 2em;
  padding-right: 2rem;
}

/* --------------TABLET LAYOUT --------------------------*/

@media only screen and (max-width: 850px) {
  .nav-input {
    width: 13rem;
  }
  .nav-btn {
    margin-right: 7%;
  }
  .nav-form {
    margin-left: 7%;
  }
}

/* --------------PHONE LAYOUT --------------------------*/

@media only screen and (max-width: 600px) {
  .nav{
    justify-content: space-between;
  }
  .nav-input {
    width: 13rem;
    margin-right: .5rem;
  }
  .nav-btn {
    margin-left: unset;
    width: 8rem;
    font-size: 1.2rem;
  }

  .nav-form {
    margin: 0;
  }
  .card-nav-btn {
    font-size: 1.1rem;
    padding-left: 1em;
    padding-right: 1rem;
  }
}
